<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    <bean id="employee" class="Employee" >
    <property name="name" value="lakhan singh"/>
    <property name="loc" value="Delhi"/>
    </bean>
    <bean id="student" class="Student" parent="employee">
    <property name="name" value="kumar lakhan simgh"/>
    <property name="rollno" value="1102914049"/>
    </bean>
    </beans>